<div class="jumbotron">
    <a href="@Url.Action("Pessoa")" class="btn btn-primary btn-lg btn-block"> Pessoa</a>
    <a href="@Url.Action("Carro")" class="btn btn-primary btn-lg btn-block"> Carro</a>

</div>

